.ta-search-box {
  display: flex;
  .el-collapse {
    border: none;
    .el-collapse-item__header,
    .el-collapse-item__wrap {
      border-bottom: none;
    }
  }
  padding: 24px;
  padding-bottom: 2px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 12px;
}

.ta-table-box {
  padding: 24px;
  background-color: #fff;
  border-radius: 2px;
}

.ta-btn-list {
  margin-bottom: 12px;
  display: flex;
  .el-button + .el-button {
    margin-left: 12px;
  }
}
.ta-card-box {
  padding: 12px 16px;
}
